<% include header.html %>
<link type="text/css" rel="stylesheet" href="../css/chat.min.css" />
</head>
<body>
	<div class="chat-main row">
		<div class="chat-container col-sm-6">
			<div class="chat-title">
				<span>Chat</span>
			</div>
			<section class="chat-content">
				<article class="chat-item">
					<a href="javascript:;" class="pull-left ">
						<img class="img-circle head head-f" src="../images/head-f.jpg" />
					</a>
					<section class="chat-body">
						<div class="panel text-sm">
							<div class="arrow-left-up"></div>
							<div class="arrow-left-down"></div>
							<div class="panel-body">
								<p>Hi sam, I have upload a cost form !</p>
							</div>
						</div>
						<small class="send-time">4 hours ago</small>
					</section>
				</article>
			</section>
		</div>
		<div class="svg-container col-sm-5 col-sm-offset-1">
			
		</div>
	</div>
<% include footer.html %>
