.navbar-bar a {
  text-decoration: none;
  color: #9d9d9d;
}
.navbar-bar a:hover {
  color: #ffffff;
}
header.navbar-inverse {
  margin-bottom: 0;
}
.navbar-brand {
  padding-top: 0;
  padding-bottom: 0;
}
.navbar-brand span {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
#logo {
  background: url("../images/houselove_logo.png") 50px 50px no-repeat;
  width: 50px;
  height: 50px;
  display: inline-block;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
.left-nav {
  height: 100%;
  position: absolute;
  background: rgba(79, 74, 145, 0.9);
  padding: 0;
}
.left-nav .personnal-title {
  padding: 10px 15px;
  padding-left: 25px;
  color: #ffffff;
  font-size: 20px;
}
.left-nav .personnal-title .fa {
  font-size: 25px;
  line-height: 25px;
  color: #ffffff;
  margin-top: 4px;
}
.left-nav .personal-info {
  padding: 10px 15px;
  padding-left: 25px;
  background: #4f4a91;
  font-size: 18px;
}
.left-nav .personal-info .account .img-circle {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.left-nav .personal-info .account a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
  padding-left: 15px;
}
.left-nav .personal-info .account .fa {
  font-size: 25px;
  line-height: 25px;
  margin-top: 4px;
  margin-right: 7px;
}
.left-nav .info-tips {
  padding: 10px 15px;
  padding-left: 25px;
  background: #4f4a91;
  font-size: 18px;
}
.left-nav .info-tips div.title {
  border-top: 1px solid #3b367d;
  font-size: 19px;
  color: #7772b9;
  padding: 8px 0px;
}
.left-nav .info-tips .introduce {
  height: 75px;
  border-radius: 5px;
  border: 1px solid #3b367d;
  box-shadow: inset 0 0 2px 2px #3b367d;
}
.left-nav .info-tips .introduce .fa {
  color: #a2a4c5;
  vertical-align: middle;
  height: 75px;
  padding: 0px 15px;
  display: table-cell;
}
.left-nav .info-tips .introduce .favor {
  color: #a2a4c5;
  font-size: 12px;
  vertical-align: middle;
  height: 75px;
  display: table-cell;
  position: relative;
  padding-right: 10px;
}
.left-nav .panel-group {
  background: #4f4a91;
  padding: 10px 15px;
}
.left-nav .panel-group a {
  text-decoration: none;
  color: #a2a4c5;
  font-size: 17px;
}
.left-nav .panel-group .panel {
  border: none;
  border-radius: 0;
}
.left-nav .panel-group .panel-default {
  box-shadow: 0 0 1px 1px #3b367d;
  margin-left: 15px;
}
.left-nav .panel-group .panel-default .panel-heading {
  background-color: #4f4a91;
  background-image: none;
  border: none;
  border-radius: 0;
}
.left-nav .panel-group .panel-default .panel-heading span {
  display: block;
}
.left-nav .panel-group .panel-default .panel-collapse {
  background-color: #4f4a91;
  background-image: none;
  border: none;
  border-radius: 0;
}
.left-nav .panel-group .panel-default .panel-body {
  background-color: #4f4a91;
  background-image: none;
  border: none;
  border-radius: 0;
  padding-top: 5px;
  padding-bottom: 5px;
}
.left-nav .panel-group .panel-default .panel-body dl {
  margin-bottom: 0px;
}
.left-nav .panel-group .panel-default .panel-body dl dd {
  padding-top: 5px;
  padding-bottom: 5px;
}
.left-nav .panel-group .panel-default .panel-body dl .border-div {
  width: 100%;
  height: 0px;
  border: 1px solid #3b367d;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
